{% extends 'store/main.html' %}
{% load compress static %}
{% block content %}

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3 style="margin-top: 0px;">Welcome To LandMark</h3>
						<form class="row login_form" action="{% url 'login' %}" method="post" id="contactForm">
							<div class="col-md-12 form-group">
								{% csrf_token %}
								<input type="text" class="form-control" id="name" name="username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" required>
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="name" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Sign In</button>
							</div>
							<span class="mb-5 ml-3">Don't have an account? <a href="{% url 'register' %}">Click Here To Create One</a></span>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}